#mswiper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  background-color: #000000;
  color: #ffffff;
}

#slide {
  height: 100%;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.story {
  height: 100%;
  text-align: center;
}
.imag {
  height: 65px;
  width: 65px;
  border-radius: 50px;
  border: 1px solid #ffffff;
  margin: 10px;
}

#next {
  color: red;
}

.swiper-button-prev {
  color: grey;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: white;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-button-prev::after{
  transform: scale(0.4);
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-button-next {
  color: grey;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-button-next::after{
  transform: scale(0.4);
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}
