.nav {
  color: white;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: all 0.5s ease !important;
  border-right: 1px solid #6d6d6d81;
  /* border: 2px solid #fff; */
}

.shrink-nav {
  width: 75px;
}

.navBtn.icon-only span {
  display: none;
}

.navBtn.icon-only .navIcon {
  margin: auto;
}

.svg {
  margin-bottom: 19px;
  padding: 25px 12px 16px;
}

.btnContainer {
  width: 100%;
  height: 48px;
  margin: 7px 0px;
}

.navBtn {
  font-size: 16px !important;
  font-weight: 400;
  text-transform: none !important;
  padding: 12px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center !important;
  justify-content: start !important;
  border-radius: 10px;
  color: #ffffff !important;
}

.navBtn:hover {
  background-color: #b1b0b11c !important;
}

.navBtn:hover .navIcon {
  width: 26px !important;
  height: 26px !important;
}

.navIcon {
  margin-right: 10px;
  width: 24px !important;
  height: 24px !important;
}

.popover button {
  width: 100% !important;
  padding: 12px;
  background-color: #272727 !important;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
  text-transform: none;
  border-radius: 10px;
}

.popover button:hover {
  background-color: #414141a9 !important;
}

.morebtn {
  padding-top: 20px;
  margin-top: 20px;
  height: 85px !important;
}

.morebtn button {
  height: 49px;
}

.treadsBox {
  border-top: 5px solid #494949;
  border-bottom: 5px solid #494949;
  padding: 8px 8px;
  margin: 10px 0px;
}

.switchBox {
  padding: 8px 8px;
  border-bottom: 1px solid #494949;
}

.btnBox {
  padding: 0px 8px;
}

.btnBox2 {
  padding: 8px 8px;
}

.reels {
  color: #ffffff;
}

.mssg {
  transform: rotate(-50deg);
}

/* Create btn */

.Create * {
  transition: all 0.5s;
}

.addPost {
  width: 80%;
  height: 70%;
}

.addPosth1 {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #c2c2c29f;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 19px;
  text-align: center;
  color: #fff;
}

.popover2 {
  background-color: #0000007a;
}

.addPostContainer {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addPostIcon {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: end;
  justify-content: center;
  padding: 8px;
}

.addPostIcon input {
  display: none;
}

.addPostIcon label svg {
  color: #fff;
}

.addPostContainer p {
  font-size: 18px;
  text-align: center;
  color: #fff;
}

.addPostBtn {
  width: 100%;
  height: 40%;
  padding: 16px;
  display: flex;
  align-items: start;
  justify-content: center;
}

.addPostBtn button,
.addPostBtn label {
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  text-transform: lowercase;
  width: 176px;
  background-color: #0095f6;
  cursor: pointer;
  border-radius: 5px;
}

.addPostBtn button:hover {
  background-color: #0094f6d7;
}

.searchText {
  width: 100px;
  height: 50px;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  letter-spacing: 2px;
  font-size: 18px;
  color: #ffffff
}

.seacrchContainer{
    width: 95%;
    height: 30px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(67, 64, 64);
    border-radius: 4px;
}
.seacrchContainer input{
    width: 100%;
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: rgb(67, 64, 64);
    height: 30px;
    color: #ffffff;
    padding: 0px 10px;
}


#searchBUT{
  color: #ffffff;
}

hr{
  border: 0.1px solid grey;
  font-weight: 100;
  margin-bottom: 20px;
}

#Box{
  width: 100%;
  margin-bottom: 20px;
  
}

.recentsHolder{
  width: 100%;
}

.recentsClearAll{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 10px;
}
#recent{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: white;
  font-weight: bolder;
}

.clearAllBtnHolder{
  display: flex;
  justify-content: center;
  align-items: center;
}

#clearAllBtn{
  background-color: black;
  color: #0095f6;
  font-size: 14px;
  font-weight: bolder;
  text-transform: none;
}

#clearAllBtn:hover{
  color: white;
}


.recentImg{
  height: 45px;
  width: 45px;
  border-radius: 50px;
  border: 1px solid #ffffff;
  margin: 10px;
}
.recentImgspanAccountNamespanUserNameX{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  padding-right: 10px;
}
.recentImgspanAccountNamespanUserName{
  display: flex;
  align-items: center;
}
#spanAccountName{
  font-weight: bolder;
}



.X button{
  border-radius: 50px;
  border: none;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.h2pHolder{
  width: 100%;
  text-align: center;
  padding: 10px;
}

.h2pHolder h2{
  font-size: 20px;
  font-weight: 400;
  margin: 10px 0;
}
.h2pHolder p{
  font-size: 14px;
  line-height: 20px;
  color: #A8A8A8;
  width: 95%;
  margin: 0 auto;
}
.clearAllRed{
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}
.notNow{
  display: flex;
  justify-content: center;
  align-items: center;
}

